/*
Primary Font: Adobe Caslon Pro
Secondary Font: Adobe Naskh Medium
Dark Blue-rgb(58, 52, 235)
Light Blue-rgb(100, 97, 194)
'Bold' Orange-rgb(240, 121, 10)

font-family:'Roboto Condensed', sans-serif;
*/
.content{
animation-name:fade-in;
animation-duration:2s;
}

.sidebar{
animation-name:fade-in;
animation-duration:2s;

}

 img{
 width:400px;
 height:200px;
 }
 img:hover{
 width:400px;
 height:500px;
 }
 
 body{
 
 background: rgb(186, 238,698) ;
 }
 
 
 p{
 font-family:'Lato', sans-serif;
 }
 
 #main{
 display:grid;
 grid-template-columns:70%  20%;
 grid-gap:50px;
 }
 p{
 font-family:'Lato', sans-serif;
 }
 li{
  font-family:Algerian;
 }
 
 h1{
  font-family:Adobe Gothic Std B;
 }
 
 a {
 font-family:Blackadder ITC;
 
 }
 
 h2{
  font-family:Blackadder ITC;
 }
 .sidebar{
 background: red;
 }
 
 .subtitle{
 background: rgb(255, 227, 191)
 
 }
 
 .image-grid{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 
 }
 .image-grid>img{
 margin:10px; 
 }
 .image-1{
 float: right;
 margin:15px;
 height:300px;
 }
 .post{
 border:  2px  solid  rgb(85, 169, 365);
 margin:10px;
  color:blue;
  }
  .post > a:hover{
  color:green;
  transition:2s color;
  }
  
 .post-title{
 margin-left: 5px;
 }
 
 .post-text{
 margin-left:5px;
 margin-right:5px;
 }
 
 .post> a:hover{
 
 margin-left:5px;
 margin-right:5px;
 text-decoration: none;
 }
 @keyframes fade-in {
 from{opacity: 0;}
 to{opacity: 1;}
 
 } 
 